h1{
	font-family: Poiret One;
	font-size: 40px;
	text-align: center;
	font-style: bold;
}
p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	line-height: 40px;
	font-size: 20px;
	color: black;
	text-align: center;
}

form{
	position: relative;
	left: 30px;
	top: 60px;
}

h2{
	font-family: 'Montserrat', sans-serif;
	color: #660066;

}

.Section p{
	font-size: 20px;
	text-align: left;
	line-height: 30px;
}

.question{
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	color: black;
}

input[type="text"],input[type="num"],input[type="date"] {
  	display: block;
  	margin: 0;
  	width: 20%;
  	font-family:  Open Sans;
  	color: #660066;
  	font-size: 18px;
}


input[type="submit"],input[type="button"]{
	background: #660066;
	color: white;
	width: 100px;
	height: 60px;
    padding: 5px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
}

input[type="button"]{
	background: #009999;
}

textarea{
	display: block;
  	margin: 0;
  	width: 50%;
  	font-family: Open Sans;
  	color: #009999;
  	font-size: 18px;

}