h1{
	font-family: Poiret One;
	font-size: 40px;
	text-align: center;
	font-style: bold;
}
h2{
    font-family: Poiret One;
	font-size: 35px;
    font-style: bold;
    display: inline;
}

.cimg{
     border-radius: 50%;
}
.imgs{
    text-align: center;
}
.cimg:hover{
    -webkit-filter: opacity(0.4);
}
.subheading{
    text-align: center;
}

#hideaway{
    position: relative;
    left: 10px;
}
.sub{
    position: relative;
    right: 0px;
}

.hiphop_selection, .pop_selection, .alt_selection{
    display: inline-block;
    padding: 3px;
}
.intro{
    text-align: center;
    	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	line-height: 30px;
	font-size: 20px;
	color: black;
}

